.portrait{
    border-radius: 50%;
}

.carousel-caption{
    background-color: beige;
    height: 3rem;
    margin: 1rem;
    opacity: .8;
}

.cartext{
    color: #19486A;
    font-weight: 900;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}

.ero{
    font-size: 12px;
    font-style: italic;
}

body {
	background: linear-gradient(-45deg, #19486A, #0A97D9, #23a6d5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

